<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8 />
	<title>gmtfo</title>
	<script data-main="static/scripts/app" src="static/scripts/require-2.1.6.js"></script>
	<link rel="stylesheet/less" type="text/css" media="screen" href="static/styles/style.less" />

	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
	<!--[if lte IE 8]>
		<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css' rel='stylesheet' >
	<![endif]-->
</head>
<body>
	<div id="map"></div>
	<header class="container"><div>
		<h1>GMTFO</h1>
		<input type="text" id="query" />
	</div></header>
</body>
</html>
